DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5433
DB_NAME=reestr_pro_db
DEBUG=True

GIGACHAT_CREDENTIALS=your_gigachat_authorization_key
GIGACHAT_MODEL=GigaChat
GIGACHAT_VERIFY_SSL_CERTS=False
